<div id="accordion">
  <div class="card card-container mx-auto">
    <div class="card-header" id="heading-user">
      <h5 class="mb-0">
        <a role="button" data-toggle="collapse" href="#collapse-user" aria-expanded="false" aria-controls="collapse-user">
          Usuario
        </a>
      </h5>
    </div>

    <div id="collapse-user" class="collapse show" data-parent="#accordion" aria-labelledby="heading-user">
      <div class="card-body">
        <div id="accordion-retiro">
          <div class="card">
            <div class="card-header" id="heading-retiro">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-retiro" aria-expanded="false" aria-controls="collapse-retiro">
                  Retiros
                </a>
              </h5>
            </div>
            <div id="collapse-retiro" class="collapse" data-parent="#accordion-retiro" aria-labelledby="heading-retiro">
              <div class="card-body">
                Lista retiros
              </div>
            </div>
          </div>
        </div>

        <div id="accordion-consignacion">
          <div class="card">
            <div class="card-header" id="heading-consignacion">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-consignacion" aria-expanded="false" aria-controls="collapse-consignacion">
                  Consignaciones
                </a>
              </h5>
            </div>
            <div id="collapse-consignacion" class="collapse" data-parent="#accordion-consignacion" aria-labelledby="heading-consignacion">
              <div class="card-body">
                Lista consignaciones
              </div>
            </div>
          </div>
        </div>

        <div id=accordion-transferencia>
          <div class="card">
            <div class="card-header" id="heading-transferencia">
              <h5 class="mb-0">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-transferencia" aria-expanded="false" aria-controls="collapse-transferencia">
                  Transferencias
                </a>
              </h5>
            </div>
            <div id="collapse-transferencia" class="collapse" data-parent="#accordion-transferencia" aria-labelledby="heading-transferencia">
              <div class="card-body">
                Lista transferencias
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                