<form class="needs-validation" novalidate (ngSubmit)="agregarUsuario()">
  <div class="form-row">
    <div class="page-header">
      <h3 class="display-1">Registro</h3>
    </div>
  </div>
  <div class="form-row mt-3">

    <label for="validationCustom01">Nombre</label>
    <input type="text" class="form-control" name="name" 
    id="validationCustom01" placeholder="Nombre" required  
    [(ngModel)]="user.nombre"  
    >
  
    <div class="valid-feedback">
      Looks good!
    </div>

  </div>
  <div class="form-row mt-3">

    <label for="validationCustom02">Cedula</label>
    <input type="text" class="form-control" id="validationCustom02" placeholder="Cedula" required>
    <div class="valid-feedback">
      Looks good!
    </div>

  </div>
  <div class="form-row mt-3">
    <label for="validationCustomUsername">Nombre de Usuario</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
      </div>
      <input type="text" class="form-control" id="validationCustomUsername" placeholder="Nombre de Usuario"
        aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>

  </div>

  <div class="form-row mt-3">

    <label for="validationCustom03">Telefono Celular</label>
    <input type="text" class="form-control" id="validationCustom03" placeholder="Telefono Celular" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>

  </div>
  <div class="form-row mt-3">

    <label for="validationCustom04">Fecha Expedicion de la Cedula</label>
    <input type="text" class="form-control" id="validationCustom04" placeholder="Fecha de expedicion de la cedula"
      required>
    <div class="invalid-feedback">
      Please provide a valid state.
    </div>
  </div>
  <div class="form-row mt-3">

    <label for="validationCustom05">Dirección</label>
    <input type="text" class="form-control" id="validationCustom05" placeholder="Dirección" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>

  </div>
  <div class="form-row mt-3">

    <label for="validationCustom06"> Lugar de residencia</label>
    <input type="text" class="form-control" id="validationCustom05" placeholder="Lugar de residencia" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>

  </div>
  <div class="form-row mt-3">

    <label for="validationCustom07">Contraseña</label>
    <input type="text" class="form-control" id="validationCustom05" placeholder="Contraseña" required>
    <div class="invalid-feedback">
      Please provide a valid Contraseña.
    </div>


  </div>
  <div class="form-group mt-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sing Up</button>
</form>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
